<ion-header>
  <ion-toolbar>
    <ion-title>
      Examples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>Working example</ion-label>
  <hr>

  <form [formGroup]="workingForm">

    <app-input-form-control formControlName="name"
                            label="Name">
    </app-input-form-control>

  </form>

  <ion-note>
    I have <b>item-interactive-disabled</b> class inside of ion-item.
  </ion-note>

  <br /><br />

  <ion-label>Not working example</ion-label>
  <hr>

  <form [formGroup]="notWorkingForm">

    <app-credit-card-details formControlName="creditCard"></app-credit-card-details>

  </form>

  <ion-note>
    I don't have <b>item-interactive-disabled</b> class inside of ion-item.
  </ion-note>

</ion-content>
